@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mui', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}
